<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NongNop Dashboard</title>
    <link rel='stylesheet' type='text/css' media='screen' href="/style.css">
    <style>
        body {
            background-color: #f0f0f0;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
    
        .wrapper {
            max-width: 800px;
            margin: 40px auto 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }
    
        .header {
            background: linear-gradient(45deg, #0066cc, #003366);
            color: #fff;
            text-align: center;
            padding: 20px;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }
    
        h2 {
            margin: 0;
            font-family: 'Georgia', serif;
        }
    
        .logo-container {
            text-align: center;
            margin-bottom: 10px;
        }

        .logo {
            width: 140px;
            height: auto;
            margin: 10px;
        }
    
        .button-container {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .total_audience {
            text-align: center;
            margin-bottom: 20px;
            border: 2px solid #0066cc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .total_audience h3 {
            margin-bottom: 10px;
        }

        .total_audience p {
            margin-top: 10px;
            font-size: 36px;
            font-weight: bold;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
    
        th, td {
            padding: 12px;
            text-align: center;
        }
    
        th {
            background-color: #ffcc29;
            color: #fff;
        }
    
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    
        button {
            background-color: #0066cc;
            color: #fff;
            padding: 10px 20px;
            border: none;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
    
        button:hover {
            background-color: #004080;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="logo-container">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d1/2024_Summer_Olympics_logo.svg/1200px-2024_Summer_Olympics_logo.svg.png" alt="Logo">
        </div>
        <div class="button-container">
            <a href="/"><button>Medal Table</button></a>
        </div>
        <div class="total_audience">
            <%  let totalCount = 0;
                userQuery.forEach(country => {
                    totalCount += country.count;
                }); 
            %>
            <h3>Total Audiences</h3>
            <p><%= totalCount %></p>
        </div>
        <div class="header">
            <h2>Olympic Audience Table</h2>
        </div>
            <table id="medal_table">
                <tr>
                    <th>Country</th>
                    <th>Audience</th>
                    <th>Percent</th>
                </tr>
                <% for (let i = 0; i < userQuery.length; i++) { %>
                    <tr>
                        <td><%= userQuery[i].country %></td>
                        <td><%= userQuery[i].count %></td>
                        <td><%= userQuery[i].percent %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
    <script type="module" src="ioc.js"></script>
</body>
</html>